body {
    background-color: #34495e;
    color: #fff;
}

.figure-container {
    fill: transparent;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}